
<form method="post" action="/number">
	<input type ="number" name="number">
	<input type ="number" name="number">
	<input type ="radio" name = "add">
	<input type ="radio" name = "subtract">
	<input type ="radio" name = "multiply">
	<input type = "radio" name="divide">
	</form>